### Private Set ###
**/build

# --------------------------------------------------------------------------------
# File created using 'AnGitIgnored' extensions for Visual Studio Code: 
# https://marketplace.visualstudio.com/items?itemName=AnAppWiLos.angitignored 
#-------------------------------------------------------------------------------

# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,linux,assembler,c,c++
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,linux,assembler,c,c++

### Assembler ###
*.exe
*.o
*.obj
*.bc

### C ###
# Prerequisites
*.d

# Object files
*.ko
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### C++ ###
# Prerequisites

# Compiled Object files
*.slo

# Precompiled Headers

# Compiled Dynamic libraries

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai

# Executables

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,linux,assembler,c,c++

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

